.todosList {
    grid-area: todosList;
    border: solid 1px gray;
    border-radius: 7px;
    padding: 10px;
    overflow-x: hidden;  /* Прокрутка, если много заметок */
    overflow-y: auto;
}

.todosList li {
    cursor: pointer;
    margin-bottom: 5px;
    -webkit-user-select: none;  /* Выключаем выделение */
    -moz-user-select: none;     /* по двойному  */
    -ms-user-select: none;     /* нажатию. */
    border-radius: 7px;
    padding: 3px;
    
}

.active {
    background-color: #5e5a5a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
}

.color1 {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Обрезаем конец наименования заметки, */
    -o-text-overflow: ellipsis; /* если оно не влезает. */
}

.color2 {
    color: rgb(98, 186, 236);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
}

.color3 {
    color: green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
}

.search {
    border: solid 1px gray;
    border-radius: 7px;
    padding: 4px;
    font-size: 15px;
    margin-bottom: 10px;
    width: 100%; /* Чтобы input не вылазил за пределы род. блока.*/
}

